/* 
#############################
######## Right Aside ########
#############################
*/

/* Planning to change it back to block */

aside.right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* 
#############################
########### NEXT ############
#############################
*/
.next-container {
    width: 80%;
    height: 25%;
    margin: 0px auto;
    font-size: 2em;
}

.next-container h1 {
    margin: 0px;
    width: 100%;
    text-align: center;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-top: 2px solid black;
}

.next-box {
    background-color: var(--main-color);
    border: 2px solid black;
    width: 100%;
    height: 100%;
}

/* 
#############################
########## Effects ##########
#############################
*/
.effects {
    height: 40%;
    width: 80%;
    margin: 0px auto;
    background-color: #222;
    border: 2px solid var(--main-color);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.effects div {height: 33.3333%;}
.effects .first-effect {border-bottom: 1px solid var(--main-color);}
.effects .second-effect {border-bottom: 1px solid var(--main-color);}

/* 
#############################
######## Play Button ########
#############################
*/
.play-btn {
    width: 80%;
    height: 10%;
    margin: 10px auto 50px;
    font-size: 4em;
    font-weight: bold;
    background-color: var(--main-color);
    color: var(--main-color-text);
    
}
.play-btn:hover {
    cursor: pointer;
    opacity: 0.8;
}